<div class="container">
    <h2 style="margin-left: 46px;">Registration Form</h2>
    <form id="UserForm" name="myForm" class="form-horizontal" novalidate angular-validator angular-validator-submit="Register()">
        <div class=" form-group">
            <label class="control-label col-sm-2">UserName:</label>
            <div class="col-sm-6"><input name="UserName" class="form-control" type="text" ng-model="UserName" required></div>
            <div class="col-sm-4">
                <span class="alert alert-danger" ng-show="myForm.UserName.$dirty && myForm.UserName.$invalid">
                    <span ng-show="myForm.UserName.$error.required">UserName is required.</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Password:</label>
            <div class="col-sm-6"><input name="UserPassword" class="form-control" type="text" ng-model="UserPassword" required></div>
            <div class="col-sm-4">
                <span class="alert alert-danger" ng-show="myForm.UserPassword.$dirty && myForm.UserPassword.$invalid">
                    <span ng-show="myForm.UserPassword.$error.required">UserPassword is required.</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">FirstName:</label>
            <div class="col-sm-6"><input name="FirstName" class="form-control" type="text" ng-model="FirstName" required></div>
            <div class="col-sm-4">
                <span class="alert alert-danger" ng-show="myForm.FirstName.$dirty && myForm.FirstName.$invalid">
                    <span ng-show="myForm.FirstName.$error.required">FirstName is required.</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">LastName:</label>
            <div class="col-sm-6"><input name="LastName" class="form-control" type="text" ng-model="LastName" required></div>
            <div class="col-sm-4">
                <span class="alert alert-danger" ng-show="myForm.LastName.$dirty && myForm.LastName.$invalid">
                    <span ng-show="myForm.LastName.$error.required">LastName is required.</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-1">
                <input id="btnRegister" ng-disabled="myForm.UserName.$dirty && myForm.UserName.$invalid || myForm.UserPassword.$dirty && myForm.UserPassword.$invalid ||myForm.FirstName.$dirty && myForm.FirstName.$invalid || myForm.LastName.$dirty && myForm.LastName.$invalid" type="submit" value="Register" class="btn btn-primary" ng-click="Register()">
            </div>
            <div class="col-sm-offset-12 col-sm-14">
                <a class="btn btn-danger" style="background: purple;" href="#/Back">Back</a>
            </div>
        </div>
    </form>
</div>